.THIS .inline {
    display: inline !important;
}
.THIS .recordCard {
    padding: 5px; 
    cursor: pointer;
}
.THIS .recordCard:hover {
    background: lightgray;
}
.THIS .recordCard > .slds-icon_container .slds-icon {
    height: 1.60rem;
    width: 1.60rem;
}
.THIS .recordCard > .recordValue {
    display: inline; 
    margin-left: 10px;
    word-wrap: break-word;
    word-break: break-all;
}
.THIS .slds-box{
    padding: 0;
    background-color: white;
    position: absolute;
    z-index: 9999;
    width: 100%;
}
.THIS .FixDivSize{
    height: 185px;
    overflow-y: auto;
}